<vc:overlay-component name="Contact"></vc:overlay-component>

<div class="content-wrap">
    <div class="contact-grid">
        <div class="contact-form">
            <h1>Tell Us Your Message</h1>
            <form action="/" method="post">
                <label for="name">Your Name</label>
                <input type="text" id="name" placeholder="Full Name" autocomplete="off"/>

                <label for="email">Your Email</label>
                <input type="text" id="email" placeholder="Email Address" autocomplete="off"/>

                <label for="subject">Subject</label>
                <input type="text" id="subject" placeholder="Subject" autocomplete="off"/>

                <label for="message">Your Message</label>
                <textarea id="message" placeholder="Message"></textarea>

                <input type="submit" value="Send Message" />
            </form>
        </div>
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>
                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit
                litterarum formas human. qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
            </p>
            <div class="contact-bar">
                <img src="/images/contact/contact-address.svg" alt="Contact-address-picture" />
                <h3>Address</h3>
                <p><address>123 Main Street, Anytown, CA 12345 – USA</address></p>
                <hr />
            </div>
            <div class="contact-bar">
                <img src="/images/contact/contact-phone.svg" alt="Contact-phone-picture" />
                <h3>Phone</h3>
                <p>Mobile: <a href="tel:08123456789">(08) 123 456 789</a></p>
                <p>Hotline: <a href="tel:1009678456">1009 678 456</a></p>
                <hr />
            </div>
            <div class="contact-bar">
                <img src="/images/contact/contact-email.svg" alt="Contact-email-picture" />
                <h3>Email</h3>
                <p><a href="mailto:yourmail@domain.com">yourmail@domain.com</a></p>
                <p><a href="mailto:mail@yourmail.com">mail@yourmail.com</a></p>
                <hr />
            </div>
        </div>
    </div>
</div>