@model Rybcansky_Shop.Models.Variant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Variant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock_Number" class="control-label"></label>
                <input asp-for="stock_Number" class="form-control" />
                <span asp-validation-for="stock_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_Standart" class="control-label"></label>
                <input asp-for="price_Standart" class="form-control" />
                <span asp-validation-for="price_Standart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_Discount" class="control-label"></label>
                <input asp-for="price_Discount" class="form-control" />
                <span asp-validation-for="price_Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
