@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap%27');

:root {
    font-family: 'Lato', sans-serif;
    --myPink: #ff9999;
    --lightPink: #ffadad;
    --borderColor: #e1e1e1;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.08em;
    text-align: center;
    line-height: 1.5
}


a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

input[type=submit]:hover {
    cursor: pointer;
}



/* Header */
header .debra-bar {
    background-color: var(--myPink);
    padding: 1em 0.5em;
    color: white;
}

    header .debra-bar .top-line {
        text-align: left;
        padding-bottom: 0.1em;
    }

header nav a:hover {
    color: var(--myPink);
}

header .follow-us > * {
    display: inline;
    margin: 0 0.3em;
    height: 1em;
    vertical-align: middle;
}

header .follow-us img {
    filter: invert();
    display: inline;
}

.follow-us:first-child {
    margin-left: 0;
}

.cart {
    height: 3em;
    width: 4.2em;
    padding: 0.3em;
    border: 2px solid var(--lightPink);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
}

    .cart:hover {
        background: white;
    }

        .cart:hover #cart-number {
            border-color: var(--lightPink);
            background-color: var(--lightPink);
            color: white;
        }

        .cart:hover img {
            filter: unset;
        }

    .cart img {
        max-width: 100%;
        max-height: 100%;
        padding: 0.3em 0;
        filter: invert();
        transition: 0.25s
    }

    .cart #cart-number {
        border: 2px solid white;
        background: white;
        border-radius: 50%;
        color: black;
        font-size: 0.75rem;
        text-align: center;
        margin: auto 0;
        transition: 0.2s;
    }

header hr {
    border-color: #ffa6a6;
    background-color: #ffa6a6;
    border: 0;
    height: 1px;
}

header .bottom-line {
    padding: 0.7em 0;
    display: flex;
    justify-content: space-between;
    height: 4.5em;
}

    header .bottom-line p {
        font-size: 2.3rem;
        letter-spacing: 2px;
        text-align: center;
    }

    header .bottom-line .search-bar {
        background-color: #ffa6a6;
        border-radius: 7px;
        width: 60%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

        header .bottom-line .search-bar input {
            border: none;
            background: none;
            color: white;
            flex-grow: 1;
            padding: 0;
        }

            header .bottom-line .search-bar input::placeholder {
                color: white;
            }


        header .bottom-line .search-bar .lupa {
            width: 3em;
            height: 3em;
        }

        header .bottom-line .search-bar img {
            width: 100%;
            height: 100%;
            padding: 0.6em;
            filter: invert();
        }

    header .bottom-line input:focus {
        outline: none;
    }

header nav {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 36em) 1fr;
    padding: 1em;
}

    header nav ul {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
    }

        header nav ul li a {
            color: black;
            font-weight: bold;
        }


header a {
    color: white;
}


.cart-buttons {
    text-align: left;
    margin-bottom: 3em;
    object-fit: contain;
    padding-top: 1.5em;
}

    .cart-buttons a {
        border: none;
        background-color: black;
        color: white;
        padding: 0.8em;
        margin: 1em 0.8em 0 0;
        font-size: 1rem;
    }

        .cart-buttons a:hover {
            background-color: #666666;
        }

.cart-total-price {
    margin: 1em 0 0 0;
    text-align: left;
    width: 50%;
    color: #333;
}

    .cart-total-price h2 {
        font-weight: normal;
        margin-left: 0;
    }

.cart-price-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}

    .cart-price-grid span {
        padding: 1em;
        border-left: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
    }

/* Home */
main .stolen-image {
    width: 100%;
}

.random-radek {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
}

    .random-radek .random-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 2em 2em;
        height: 4em;
        font-size: 0.9rem;
        text-align: left;
    }

        .random-radek .random-item img {
            max-height: 100%;
            max-width: 100%;
            grid-row: 1/3;
            grid-column: 1/2;
        }

        .random-radek .random-item h3 {
            margin: 0;
            padding: 0;
            color: var(--myPink);
            font-weight: bold;
            font-size: 1.2rem;
            grid-row: 1/2;
            grid-column: 2/3;
        }

        .random-radek .random-item p {
            grid-row: 2/3;
            grid-column: 2/3;
        }

h2 {
    margin: 0.8em;
    padding: 0;
}

.sortbox {
    padding: 1em;
}

    .sortbox h3 {
        display: inline;
        margin: 1em;
        font-size: 1.2rem;
        font-weight: normal;
    }

        .sortbox h3 a {
            color: black;
            transition: .1s;
        }

            .sortbox h3 a:hover {
                color: var(--myPink);
            }


.newsletter {
    grid-column: 1/5;
    background-color: var(--myPink);
    padding: 4em 0 4em 0;
}

    .newsletter input[type=text] {
        margin: 0;
        padding: 1.2em;
        width: 60%;
        background-color: white;
        border: 0;
    }

        .newsletter input[type=text]:focus {
            outline: none;
        }

    .newsletter input[type=submit] {
        margin: 0;
        padding: 0.7em 0.6em 0.7em 0.6em;
        font-weight: bold;
        font-size: 1.1rem;
        color: white;
        background-color: var(--myPink);
        border: 0;
    }

        .newsletter input[type=submit]:hover {
            color: var(--myPink);
            background-color: rgb(100, 100, 100);
        }

    .newsletter h3 {
        font-weight: normal;
    }


/* Products */
.product {
    max-width: 25%;
    padding: 0 0.8em;
    padding-bottom: 01em;
}

    .product img {
        max-width: 100%;
    }

    .product .product-body {
        border-width: 0px 2px 2px 2px;
        border-color: #f2f2f2;
        border-style: solid;
        color: black;
        text-align: left;
        padding: 1em;
    }

    .product p {
        font-size: 1.2rem;
        color: #818181;
        letter-spacing: 1px;
    }

    .product .stars {
        padding: 0.5em 0;
    }

    .product .price {
        display: inline;
        color: var(--myPink);
        font-weight: bold;
        font-size: 1.2rem;
    }

    .product .prev-price {
        display: inline;
        text-decoration: line-through;
        color: #868686;
        margin-left: 0.8em;
        font-size: 1rem;
    }





@media(min-width:800px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 34em)) 1fr;
    }

    .content-wrap {
        grid-column: 2/4;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Footer */
footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    padding: 2em 2em;
}

foooter a:hover {
    color: #ff9999;
}

.footer-div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

.footer-h {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}

.footer-h5 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
}

footer * {
    text-align: left;
    text-decoration: none;
    color: black;
}

footer .footer-div div p, footer .footer-div div a, footer .footer-div div address {
    display: block;
    margin-right: 1em;
}

footer address {
    font-size: 1rem;
}

footer h5 {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
}

.footer-article {
    display: flex;
}

    .footer-article img {
        width: 100%;
        padding: 0;
        padding-right: 1em;
        margin: 0;
    }

.footer-latest-blogs hr {
    border: none;
    height: 1px;
    background-color: lightgray;
}

.down-hr {
    display: block;
    grid-column: 2/4;
    width: 100%;
    border: none;
    height: 1px;
    background-color: gray;
    margin: 2em 2em 0 0;
}

.footer-bottom {
    padding-top: 1em;
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
}

    .footer-bottom p {
        color: gray;
    }

    .footer-bottom img {
        display: inline;
        margin: 0 0.2em;
        height: 2em;
        vertical-align: middle;
    }


/* COMPONENTS */

/* Overlay Component */
.overlay-div {
    padding: 5em 0;
    background: url("../images/bg/cart.png");
    grid-column: 1/5;
    margin-bottom: 2em;
    background-size: cover;
}

    .overlay-div h2 {
        font-size: 2.2rem;
        padding: 0;
        margin: 0 0 0.1em 0;
    }

    .overlay-div a {
        color: black;
    }

    .overlay-div p {
        font-size: .9rem;
        margin-bottom: 3em;
        color: #ff9999;
    }

/* PageSelect Component */
.page-select-div {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ededed;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    margin-bottom: 2em;
}

    .page-select-div div {
        display: flex;
        margin: 0.2em;
    }

.page-select-left div {
}

    .page-select-left div a {
        padding: 0.4em;
        color: black;
        font-size: 1rem;
    }

        .page-select-left div a:hover {
            color: white;
            background-color: var(--myPink);
            border-radius: 10px;
        }

.page-select-right p {
    font-size: 0.9rem;
}

/* BlogTags Component */
.blog-tags {
    max-width: 13em;
    display: flex;
    flex-wrap: wrap;
}

    .blog-tags input {
        width: auto;
        padding: 0.8em 0.9em;
        margin: 0.2em;
        background-color: white;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        background: transparent;
        font-size: 0.9rem;
    }

        .blog-tags input:hover {
            background-color: var(--myPink);
            color: white;
        }

.blog-menu .blog-tags a {
    width: auto;
    padding: 0.8em 0.9em;
    margin: 0.2em;
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: transparent;
    font-size: 0.9rem;
}

    .blog-menu .blog-tags a:hover {
        background-color: var(--myPink);
        color: white;
    }

/* BlogMenu Component */

.blog-menu {
    text-align: left;
    padding: 1em;
    background-color: #f8f8f8;
    display: block;
}

    .blog-menu > div {
        margin-bottom: 2em;
    }

    .blog-menu div a {
        color: #333333;
    }

        .blog-menu div a:hover {
            color: var(--myPink);
        }

    .blog-menu h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5em;
    }

    .blog-menu input[type=text] {
        padding: 0.5em;
        border: 1px solid gray;
    }

        .blog-menu input[type=text]:focus {
            outline: none;
        }

    .blog-menu input[type=submit] {
        padding: 0.5em;
        background-color: white;
        color: black;
        border: 1px solid gray;
    }

        .blog-menu input[type=submit]:hover {
            color: var(--myPink);
        }


.blog-posts-mini-menu {
    margin-top: 1em;
}

    .blog-posts-mini-menu hr {
        border: none;
        background-color: #dcdcdc;
        color: #dcdcdc;
        height: 1px;
    }

.mini-posts {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

    .mini-posts div {
        margin: 0;
    }

    .mini-posts img {
        width: 80%;
    }

    .mini-posts div a {
        font-weight: normal;
        margin: 0;
        color: black;
    }

        .mini-posts div a:hover {
            color: var(--lightPink);
        }



/* Cart */
.cart-detail {
    display: grid;
    grid-template-columns: auto 2fr 2fr repeat(3, 1fr) .5fr;
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    box-shadow: 0px 4px 3px lightgray;
}

    .cart-detail > span {
        padding: 8px 4px;
        border-left: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .cart-detail img {
        height: 10em;
        margin: auto;
        padding: 0 0.3em;
    }

    .cart-detail a {
        font-size: 1.6rem;
        color: #343a40;
    }

        .cart-detail a:hover {
            color: var(--myPink);
        }


/* Blog */
.class-layout {
    display: grid;
    grid-template-columns: auto auto;
}

.blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-li {
    text-align: left;
    padding-right: 2em;
    position: relative;
    margin: 0 0 4em 0;
}

    .blog-li > a {
        color: black;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .blog-li h2 {
        margin-left: 0;
    }

    .blog-li span {
        margin: 0 0 0.5em 0;
    }

    .blog-li img {
        width: 100%;
    }

    .blog-li > a:hover {
        color: var(--lightPink);
    }

    .blog-li p {
        font-size: 1rem;
        margin: 1em 0 2em 0;
    }

    .blog-li .read-more-button a {
        border: 1px solid #f2f2f2;
        border-radius: 6px;
        font-size: 0.8rem;
        letter-spacing: 2px;
        padding: 1.2em 1.4em;
        margin: 1em 0 10em 0;
        background-color: #f2f2f2;
        color: #363f4d;
    }

        .blog-li .read-more-button a:hover {
            background-color: var(--lightPink);
            color: white;
        }

    .blog-li span {
        margin-top: 0.8em;
    }

        .blog-li span * {
            display: inline-block;
        }

        .blog-li span .gray-div {
            color: #6c757d;
        }

/* tady byl block-left-neco*/


/* Shop */
.shop-div {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}

.shop-products a {
    max-width: 33%;
    margin-left: 0.1em;
}

.shop-menu {
    margin: 1em;
    padding: 1.2em 1em 0.5em 1em;
    background-color: #f8f8f8;
}

    .shop-menu > div {
        margin-bottom: 1.5em;
    }

    .shop-menu h4 {
        margin: 0.2em 0 0.3em 0;
    }

    .shop-menu div {
        margin-bottom: 2em;
    }

.shop-search-div input[type=text] {
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #808080;
}

.shop-search-div input[type=submit] {
    padding: 0.5em;
    background-color: white;
    color: black;
    border: 1px solid #808080;
}

    .shop-search-div input[type=submit]:hover {
        color: var(--myPink);
    }

.shop-menu a {
    color: black;
    font-size: 1rem;
}

.shop-menu hr {
    border: none;
    height: 1px;
    background-color: #dcdcdc;
    color: #dcdcdc;
    margin: 1em 0.4em 1.7em 0.4em;
}

.shop-menu a:hover {
    color: var(--myPink);
}

.shop-header {
    margin: 1em;
    padding: 0.8em;
    border: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
}

.shop-header-right {
    display: flex;
}

    .shop-header-right div {
        display: flex;
        margin: 0.2em;
    }

        .shop-header-right div p {
            margin-right: 1em;
        }

        .shop-header-right div select {
            border: none;
        }


.shop-vendors-div *, .shop-categories-div * {
    display: block;
}

.shop-page-select {
    margin: 1em;
}

.shop-sizes {
    display: grid;
    grid-template-columns: auto auto;
}

/* Product */
.product-div {
    display: grid;
    grid-template-columns: 1fr 2em 1fr;
    grid-template-rows: auto auto;
    text-align: left;
    margin-bottom: 3em;
}

.product-info {
    grid-row: 1/3;
    grid-column: 1/2;
    padding: 1em;
    border: 1px solid #ebebeb;
}

    .product-info h2 {
        margin: 0 0 0.6em 0;
        font-size: 2rem;
    }

.product-price-discount {
    color: var(--myPink);
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.product-price-standart {
    color: #868686;
    font-size: 1.4em;
    margin-left: 0.3em;
    text-decoration: line-through;
}

.product-single-info * {
    display: inline;
    margin: 0.2em 0.2em 0.2em 0;
    font-size: 1rem;
}

.product-single-info a, .product-single-info p {
    color: var(--lightPink);
}

.product-single-info a {
    font-weight: bold;
}

    .product-single-info a:hover {
        text-decoration: underline;
    }

.product-single-info select {
    border: none;
}

.product-info hr {
    margin: 2em 0.2em 1.5em 0.2em;
    border: none;
    background-color: #dcdcdc;
    color: #dcdcdc;
    height: 1px;
}

.product-info-description p {
    margin: 0 0 2em 0;
    font-size: 0.9rem;
    font-weight: 400;
}

.spacing {
    margin: 2em
}

.product-single-info input[type=number] {
    margin-top: 0.2em;
    height: 100%;
    border: 1px solid #dddddd;
    padding: 0.5em;
}

    .product-single-info input[type=number]::selection {
    }

.product-submit-button {
    margin-left: 1em;
    height: 100%;
    background-color: var(--myPink);
    color: white;
    border: none;
    padding: 0.4em 2em 0.4em 2em;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: bold;
}

    .product-submit-button:hover {
        background-color: black;
    }

.product-picture {
    grid-row: 1/2;
    grid-column: 3/4;
}

.picture-grid {
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 0.8em 2em 0 2em;
    display: flex;
    height: 8em;
    justify-content: space-between;
}

    .picture-grid img:hover {
        border: 1px solid var(--myPink);
    }

    .picture-grid img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        padding: 0.1em;
    }

.guaranteed-title {
    margin: 200em 0 1em 0;
}

/* About */
.welcome-div {
    display: grid;
    grid-template-columns: 1fr 1.5em 1fr;
    margin: 2em;
}

.welcome-picture {
    grid-column: 1/2;
    margin: 0;
    padding: 0;
}

.welcome-text {
    grid-column: 3/4;
    margin: 0;
    padding: 0;
    text-align: left;
}

    .welcome-text h1 {
        font-size: 2.2rem;
        margin-top: 0;
        margin-left: 0;
    }

        .welcome-text h1 span {
            color: var(--myPink);
        }

.paragraph-div {
    margin-bottom: 2em;
}

    .paragraph-div p {
        font-size: 1rem;
    }

    .paragraph-div h2 {
        font-size: 1.2rem;
    }

.about-mission {
    display: flex;
    text-align: left;
    margin: 3em 1em;
}

    .about-mission h2 {
        margin-left: 0;
        margin-bottom: 0.3em;
    }

    .about-mission p {
        font-size: 1rem;
    }

.mission-section {
    margin-left: 1em;
}

.sponsors-div {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
}

    .sponsors-div a {
        border: 1px solid #ffffff;
    }

        .sponsors-div a:hover {
            border: 1px solid var(--myPink);
        }


/* Contact */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 0 3em 0;
}

.contact-form {
    text-align: left;
}

    .contact-form h1 {
        font-weight: normal;
        margin-top: 0;
    }

    .contact-form label {
        color: #888;
        font-size: 1rem;
    }

    .contact-form input[type=text], .contact-form textarea {
        display: block;
        margin: 0.3em 0 1.5em 0;
        padding: 1em 2em 1em 1em;
        width: 100%;
        border: 1px solid #e0e0e0;
        height: 3.5em;
        resize: vertical;
        font-size: 1rem;
    }

    .contact-form textarea {
        height: 15em;
    }

        .contact-form input[type=text]::placeholder, .contact-form textarea::placeholder {
            color: #888;
            font-size: 1rem;
        }


        .contact-form input[type=text]:focus, .contact-form textarea:focus {
            outline: none;
        }

    .contact-form input[type=submit] {
        color: white;
        background-color: var(--myPink);
        font-weight: bold;
        text-align: center;
        width: 10.5em;
        height: 2.6em;
        border: none;
        font-size: 1rem;
        margin-top: 0.3em;
    }

        .contact-form input[type=submit]:hover {
            background-color: black;
            transition: 0.3s;
        }

        .contact-form input[type=submit]:focus {
            outline: none;
        }


.contact-info {
    grid-column: 2/3;
    margin-left: 7em;
    background-color: #f2f2f2;
    padding: 2em;
    text-align: left;
}

    .contact-info h2 {
        font-weight: normal;
        margin: 0 0 0.4em 0;
        font-size: 2rem;
    }

    .contact-info p {
        font-size: 1rem;
    }

.contact-bar {
    margin-bottom: 1em;
}

    .contact-bar img {
        margin: 0.2em 0.3em 0 0;
        height: 1.2em;
        float: left;
    }

    .contact-bar h3 {
        font-weight: normal;
        font-size: 1.2rem;
        margin-bottom: 0.5em;
    }

    .contact-bar p a {
        color: black;
    }

        .contact-bar p a:hover {
            color: var(--myPink);
        }

    .contact-bar hr {
        margin: 1em 0.2em;
        border: none;
        background-color: #e0e0e0;
        color: #e0e0e0;
        height: 1px;
    }


/* Article-Detail*/
.article-detail-div {
    display: grid;
    grid-template-columns: auto 2em auto;
    margin-bottom: 3em;
}

.article-detail-left {
    grid-column: 1/2;
    border: 1px solid #efefef;
    background-color: #ffffff;
    text-align: left;
    padding: 1em 1.5em 1.5em 1.5em;
}

.article-header {
    text-align: center;
}

    .article-header h1 {
        font-weight: normal;
    }

.article-detail-author {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #999;
    margin-bottom: 1em;
}

.article-header .icon {
    height: 1em;
    margin-right: 0.3em;
    margin-top: 0.25em;
    margin-left: 0.3em;
}

.article-detail-author-name {
    color: black;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.article-detail-img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.blog-detail-text {
    color: #333;
    text-align: left;
    font-size: 1rem;
}

    .blog-detail-text p {
        margin-top: 1em;
    }

.blog-detail-tags {
    margin: 2em 0;
    text-align: left;
}

    .blog-detail-tags hr {
        border: none;
        height: 1px;
        background-color: #e0e0e0;
    }

    .blog-detail-tags p {
        display: inline;
        color: #999;
    }

    .blog-detail-tags a {
        color: black;
        font-size: 1rem;
    }

        .blog-detail-tags a:hover {
            color: var(--myPink);
        }

.article-detail-right {
    grid-column: 3/4;
}

.article-detail-container {
    background-color: #f8f8f8f8;
    padding: 1em;
    width: 100%;
}

.comment-section {
    text-align: left;
}

.comment {
    border: 1px solid #e0e0e0;
    margin-bottom: 1.6em;
    padding: 1em;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);
}

    .comment h4 {
        color: #999;
        margin-bottom: 0.2em;
        margin-top: 0;
    }

.comment-time {
    margin-bottom: 1em;
    display: block;
    color: #999;
    font-size: 0.9rem;
}

.comment p {
    font-size: 1rem;
}


.blog-detail-comment {
    margin-bottom: 4em;
}

.blog-detail-name-email {
    display: grid;
    grid-template-columns: auto 2em auto;
}

.comment-name {
    grid-column: 1/2;
}

.comment-email {
    grid-column: 3/4;
}
