@{
    Layout = "Order_Layout";
}
<link rel="stylesheet" href="~/css/Order_Layout/order.css" />
<script src="~/js/site.js"></script>

<div class="left-grid">
    <div class="header">
        <img src="/images/debra-logo.png" alt="Alternate Text" />
    </div>
    <div class="thx">
        <img src="/images/order/finish_icon.png" />
        <div class="thx-text">
            <p>Order #1001</p>
            <h3>Thank you!</h3>
        </div>
    </div>
    <div class="confirm-tab">
        <h4>Your order is confirmed</h4>
        <p>You'll receive a confirmation email with your order number shortly.</p>
    </div>
    <div class="confirm-tab customer-tab">
        <h4>Customer information</h4>
        <div class="column-div">
            <h5>Contact information</h5>
            <p>email@email</p>
        </div>
        <div class="column-div">
            <h5>Shipping Address</h5>
            <p>jmeno prijmeni</p>
            <p>address</p>
            <p>appartment</p>
            <p>postal code city</p>
            <p>country</p>
        </div>
        <div class="column-div">
            <h5>Shipping method</h5>
            <p>method</p>
        </div>
        <div class="column-div">
            <h5>Payment method</h5>
            <p>method</p>
        </div>
        <div class="column-div">
            <h5>Billing address</h5>
            <p>jmeno prijmeni</p>
            <p>address</p>
            <p>appartment</p>
            <p>postal code city</p>
            <p>country</p>
        </div>
    </div>

    <div class="form-buttons finished-button">
        <div class="grid-input-left"></div>
        <a asp-action="Index" asp-controller="Home" class="grid-input-right" type="button">Continue shopping</a>
    </div>
</div>
<div class="right-grid">
    <div class="order-item-prev">
        <img src="/images/xbox_new_01.jpg" />
        <div>
            <p>Xbox - ten nový</p>
            <p class="order-item-prev-variant">1TB, černá</p>
        </div>
        <span>12 000Kč</span>
    </div>
    <div class="order-item-prev">
        <img src="/images/ps5_01.jpg" />
        <div>
            <p>Playstation 5</p>
            <p class="order-item-prev-variant">835GB, bílá</p>
        </div>
        <span>12 500Kč</span>
    </div>
    <hr />
    <div class="subtotal-price">
        <p class="grid-input-left">Subtotal</p>
        <p class="grid-input-right">24 500Kč</p>
    </div>
    <div class="subtotal-price">
        <p class="grid-input-left">Shipping</p>
        <p class="grid-input-right">350 Kč</p>
    </div>
    <hr />
    <div class="subtotal-price">
        <p class="grid-input-left">Shipping</p>
        <h3 class="grid-input-right">24 8550Kč</h3>
    </div>
</div>