@{
    Layout = "Order_Layout";
}
<link rel="stylesheet" href="~/css/Order_Layout/order.css" />
<script src="~/js/site.js"></script>

<div class="left-grid">
    <div class="header">
        <img src="/images/debra-logo.png" alt="Alternate Text" />
        <p><a href="#">Cart&emsp;</a>>&emsp;<a href="#">Information</a>&emsp;>&emsp;<a href="#">Shipping</a>&emsp;>&emsp;Payment</p>
    </div>
    <div class="order-form">
        <div class="shippping-check-form">
            <div class="check-under-form">
                <label>Contact</label>
                <input type="text" autocomplete="off" value="+420 605 605 605" disabled />
            </div>
            <hr />
            <div class="check-under-form">
                <label>Ship to</label>
                <input type="text" autocomplete="off" value="address, apartment, POSTAL CODE city , Czechia" disabled />
            </div>
            <hr />
            <div class="check-under-form">
                <label>Method</label>
                <input type="text" autocomplete="off" value="Standart, 350 Kč" disabled />
            </div>
        </div>

        <form asp-action="FinishOrder">
            <h3>Payment</h3>
            <select>
                <option value="" disabled selected>Select payment method</option>
                @foreach (Payment_Methods item in this.ViewBag.PaymentMethods)
                {
                    <option value="@item.id">@item.method</option>
                }
            </select>
            <br /><br />

            <h3>Billing address</h3>
            <select id="different-billing-address" onclick="DifferentBillingAddress()">
                <option value="0">Same as shipping address</option>
                <option value="1">Use a different billing address</option>
            </select>

            <div class="different-billing-address">
                <br />
                <div class="order-form">
                    <h3>Shipping address</h3>
                    <div class="grid-input">
                        <input class="grid-input-left" type="text" placeholder="First name" autocomplete="off" />
                        <input class="grid-input-right" type="text" placeholder="Last name" autocomplete="off" />
                    </div>
                    <input type="text" placeholder="Address" autocomplete="off" />
                    <input type="text" placeholder="Apartment" autocomplete="off" />
                    <div class="grid-input">
                        <div class="grid-input-left">
                            <input type="text" placeholder="Postal code" autocomplete="off" />
                        </div>
                        <div class="grid-input-right">
                            <input type="text" placeholder="City" autocomplete="off" />
                        </div>

                    </div>
                    <select>
                        <option value="" disabled selected>Select Country</option>
                        @foreach (var item in this.ViewBag.Countries)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-buttons">
                <a href="#" class="grid-input-left">< Return to shipping</a>
                <input class="grid-input-right" type="submit" value="Continue to Complete" />
            </div>
        </form>
    </div>
</div>
<div class="right-grid">
    <div class="order-item-prev">
        <img src="/images/xbox_new_01.jpg" />
        <div>
            <p>Xbox - ten nový</p>
            <p class="order-item-prev-variant">1TB, černá</p>
        </div>
        <span>12 000Kč</span>
    </div>
    <div class="order-item-prev">
        <img src="/images/ps5_01.jpg" />
        <div>
            <p>Playstation 5</p>
            <p class="order-item-prev-variant">835GB, bílá</p>
        </div>
        <span>12 500Kč</span>
    </div>
    <hr />
    <div class="subtotal-price">
        <p class="grid-input-left">Subtotal</p>
        <p class="grid-input-right">24 500Kč</p>
    </div>
    <div class="subtotal-price">
        <p class="grid-input-left">Shipping</p>
        <p class="grid-input-right">350 Kč</p>
    </div>
    <hr />
    <div class="subtotal-price">
        <p class="grid-input-left">Shipping</p>
        <h3 class="grid-input-right">24 8550Kč</h3>
    </div>
</div>