@model Rybcansky_Shop.Controllers.Web.Carts.FormClass

@{
    Layout = "Order_Layout";
}
<link rel="stylesheet" href="~/css/Order_Layout/order.css" />

<div class="left-grid">
    <div class="header">
        <img src="/images/debra-logo.png" alt="Alternate Text" />
        <p><a href="#">Cart&emsp;</a>>&emsp;<a href="#">Information</a>&emsp;>&emsp;<strong>Shipping</strong>&emsp;>&emsp;Payment</p>
    </div>
    <div class="order-form">
        <div class="shippping-check-form">
            <div class="check-under-form">
                <label>Contact</label>
                <input type="text" autocomplete="off" value="@this.ViewBag.Email" disabled />
            </div>
            <hr />
            <div class="check-under-form">
                <label>Ship to</label>
                <input type="text" autocomplete="off" value="@this.ViewBag.Shipping" disabled />
            </div>
        </div>

        <form asp-action="payment" asp-controller="Cart">
            <h3>Shipping method</h3>
            <select asp-for="Payment_Methods.method">
                <option value="" disabled selected>Select payment method</option>
                @foreach (Payment_Methods item in this.ViewBag.PaymentMethods)
                {
                    <option value="@item.id">@item.method</option>
                }
            </select>

            <div class="form-buttons">
                <a href="#" class="grid-input-left">< Return to information</a>
                <input class="grid-input-right" type="submit" value="Continue to payment" />
            </div>
        </form>
    </div>
</div>
<vc:right-grid-component></vc:right-grid-component>