@{
    Layout = "Order_Layout";
}
<link rel="stylesheet" href="~/css/Order_Layout/order.css" />

<div class="left-grid">
    <div class="header">
        <img src="/images/debra-logo.png" alt="Alternate Text" />
        <p><a href="#">Cart&emsp;</a>>&emsp;<a href="#">Information</a>&emsp;>&emsp;<strong>Shipping</strong>&emsp;>&emsp;Payment</p>
    </div>
    <div class="order-form">
        <div class="shippping-check-form">
            <div class="check-under-form">
                <label>Contact</label>
                <input type="text" autocomplete="off" value="+420 605 605 605" disabled />
            </div>
            <hr />
            <div class="check-under-form">
                <label>Ship to</label>
                <input type="text" autocomplete="off" value="address, apartment, POSTAL CODE city , Czechia" disabled />
            </div>
        </div>

        <form asp-action="payment">
            <h3>Shipping method</h3>
            <select>
                <option value="" disabled selected>Select payment method</option>
                @foreach (Shipping_Method item in this.ViewBag.ShippingMethods)
                {
                    <option value="@item.id">@item.method</option>
                }
            </select>

            <div class="form-buttons">
                <a href="#" class="grid-input-left">< Return to information</a>
                <input class="grid-input-right" type="submit" value="Continue to payment" />
            </div>
        </form>
    </div>
</div>
<div class="right-grid">
    <div class="order-item-prev">
        <img src="/images/xbox_new_01.jpg" />
        <div>
            <p>Xbox - ten nový</p>
            <p class="order-item-prev-variant">1TB, černá</p>
        </div>
        <span>12 000Kč</span>
    </div>
    <div class="order-item-prev">
        <img src="/images/ps5_01.jpg" />
        <div>
            <p>Playstation 5</p>
            <p class="order-item-prev-variant">835GB, bílá</p>
        </div>
        <span>12 500Kč</span>
    </div>
    <hr />
    <div class="subtotal-price">
        <p class="grid-input-left">Subtotal</p>
        <p class="grid-input-right">24 500Kč</p>
    </div>
    <div class="subtotal-price">
        <p class="grid-input-left">Shipping</p>
        <p class="grid-input-right">350 Kč</p>
    </div>
    <hr />
    <div class="subtotal-price">
        <p class="grid-input-left">Shipping</p>
        <h3 class="grid-input-right">24 8550Kč</h3>
    </div>
</div>