<vc:overlay-component name="About"></vc:overlay-component>

<div class="content-wrap">
    <div class="welcome-div">
        <div class="welcome-picture">
            <img src="/images/about/about-welcome.png" alt="Alternate Text" />
        </div>
        <div class="welcome-text">
            <div class="paragraph-div">
                <h1>WELCOME TO <span>VESOZ</span></h1>
                <p>
                    Timekeeper provide how all this mistaken idea of denouncing pleasure and sing pain was born
                   an will give you a complete account of the system, and expound the actual teachings of the eat
                   explorer of the truth, the mer of human.
                </p>
            </div>
            <div class="paragraph-div">
                <h2>WIN BEST ONLINE SHOP AT 2020</h2>
                <p>
                    Timekeeper provide how all this mistaken idea of denouncing pleasure and sing pain was born
                    an will give you a complete account of the system, and expound the actual teachings of the 
                    eat explorer of the truth, the mer of human.
                </p>
            </div>
        </div>
    </div>
    <div class="about-mission">
        <div class="mission-section">
            <h2>OUR VISSION</h2>
            <p>
                Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum 
                formas humanitatis per seacula quarta decima et quinta decima.
            </p>
        </div>
        <div class="mission-section">
            <h2>OUR MISSION</h2>
            <p>
                Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                formas humanitatis per seacula quarta decima et quinta decima.
            </p>
        </div>
        <div class="mission-section">
            <h2>OUR GOAL</h2>
            <p>
                Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                formas humanitatis per seacula quarta decima et quinta decima.
            </p>
        </div>
    </div>
    <div class="sponsors-div">
        @for (int i = 1; i <= 4; i++)
         {
            <a href="#"><img src="@("/images/about/b" + @i + ".webp")" alt="Alternate Text" /></a>
         }
    </div>
</div>