<div class="tag-div">
    <h3>Tags</h3>
    <div class="blog-tags">
        <input type="button" value="Bestselliong" />
        <input type="button" value="Collection" />
        <input type="button" value="Dress" />
        <input type="button" value="Fashion" />
        <input type="button" value="Man" />
    </div>
</div>