@{
    Layout = "Administration_Layout";
}


@model Rybcansky_Shop.Models.Product

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_Standart" class="control-label"></label>
                <input asp-for="price_Standart" class="form-control" />
                <span asp-validation-for="price_Standart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_Discount" class="control-label"></label>
                <input asp-for="price_Discount" class="form-control" />
                <span asp-validation-for="price_Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vat_rate" class="control-label"></label>
                <input asp-for="vat_rate" class="form-control" />
                <span asp-validation-for="vat_rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                        <label asp-for="variant_Number" class="control-label"></label>
                        <input asp-for="variant_Number" class="form-control" />
                        <span asp-validation-for="variant_Number" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="stock_Number" class="control-label"></label>
                <input asp-for="stock_Number" class="form-control" />
                <span asp-validation-for="stock_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number_Of_Picture" class="control-label"></label>
                <input asp-for="Number_Of_Picture" class="form-control" />
                <span asp-validation-for="Number_Of_Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_Category" class="control-label"></label>
                <input asp-for="id_Category" class="form-control" />
                <span asp-validation-for="id_Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_Vendor" class="control-label"></label>
                <input asp-for="id_Vendor" class="form-control" />
                <span asp-validation-for="id_Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>