<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rybcansky_Shop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="debra-bar grid">

            <div class="content-wrap">
                <div class="top-line">
                    <div class="follow-us">
                        <p>Follow Us: </p>
                        <img src="/images/icons/fb.svg" />
                        <img src="/images/icons/tw.svg" />
                        <img src="/images/icons/gp.svg" />
                        <img src="/images/icons/ig.svg" />
                        <img src="/images/icons/yt.svg" />
                    </div>
                </div>
                <hr />
                <div class="bottom-line">
                    <a href="#"><p>DEBRA</p></a>
                    <div class="search-bar">
                        <input type="text" name="search" placeholder="Vyhledat" />
                        <a class="lupa" asp-area="" asp-controller="Cart" asp-action="Index"><img src="/images/lupa.svg" alt="lupa" /></a>
                    </div>

                    <a class="cart" asp-area="" asp-controller="Cart" asp-action="Index">
                        <img src="~/images/icons/cart.svg">
                        <p id="cart-number">33</p>
                    </a>
                </div>
            </div>

        </div>
        <nav>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main" class="grid">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Rybcansky_Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>