<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rybcansky_Shop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="debra-bar grid">

            <div class="content-wrap">
                <div class="top-line">
                    <div class="follow-us">
                        <p>Follow Us: </p>
                        <img src="/images/icons/fb.svg" />
                        <img src="/images/icons/tw.svg" />
                        <img src="/images/icons/gp.svg" />
                        <img src="/images/icons/ig.svg" />
                        <img src="/images/icons/yt.svg" />
                    </div>
                </div>
                <hr />
                <div class="bottom-line">
                    <a asp-controller="Home" asp-action="Index"><p>DEBRA</p></a>
                    <div class="search-bar">
                        <input type="text" name="search" placeholder="Vyhledat" />
                        <a class="lupa" asp-area="" asp-controller="Cart" asp-action="Index"><img src="/images/lupa.svg" alt="lupa" /></a>
                    </div>
                    <vc:Cart-Title-Component></vc:Cart-Title-Component>
                </div>
            </div>

        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Product" asp-action="First">Products</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="About" asp-action="Index">About</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main" class="grid">
        @RenderBody()
    </main>

    <footer>
        <div class="grid">
            <div class="content-wrap footer-div">
                <div class="footer-debra">
                    <img src="~/images/debra-logo.png" alt="debra logo" />
                    <h5 class="footer-h5">Address:</h5>
                    <address>
                        4710-4890 Breckinridge St, UK Burlington, VT 05401
                    </address>
                    <h5 class="footer-h5">Need Help?</h5>
                    <a href="tel:1-800-345-6789">Call: 1-800-345-6789</a>
                    <h5 class="footer-h5">Email:</h5>
                    <p><a href="mailto:example@example.com">example@example.com</a></p>
                </div>

                <div class="footer-about-us">
                    <h5 class="footer-h">About Us</h5>
                    <a href="#">About Us</a>
                    <a href="#">Store location</a>
                    <a href="#">Contact</a>
                    <a href="#">Orders tracking</a>
                </div>

                <div class="footer-usefull-links">
                    <h5 class="footer-h">Usefull Links</h5>
                    <a href="#">Returns</a>
                    <a href="#">Support Policy</a>
                    <a href="#">Size guide</a>
                    <a href="#">FAQs</a>
                </div>

                <div class="footer-latest-blogs">
                    <h5 class="footer-h">Latest Blogs</h5>
                    <div class="footer-article">
                        <div>
                            <a href="#">
                                <img src="/images/articles/0_prev.jpg" alt="first article" />
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p>Nadpis</p>
                            </a>
                            <p><small>by Karel Novák 15 Jan, 20</small></p>
                        </div>
                    </div>
                    <hr />
                    <div class="footer-article">
                        <div>
                            <a href="#">
                                <img src="~/images/articles/1_prev.jpg" alt="first article" />
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <p>Další nadpis</p>
                            </a>
                            <p><small>by Karel Novák 15 Jan, 20</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="down-hr" />

            <div class="footer-bottom grid">
                <div>
                    <p>Copyright &copy; <a href="#">Vesoz</a> All Right Reserved.</p>
                </div>
                <div>
                    <a href="#"><img src="/images/icons/fb_color.png" alt="FB" /></a>
                    <a href="#"><img src="/images/icons/tw_color.png" alt="TW" /></a>
                    <a href="#"><img src="/images/icons/gp.png" alt="GP" /></a>
                    <a href="#"><img src="/images/icons/yt.png" alt="YT" /></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>