<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Order_Layout/layout.css"/>
</head>
<body class="grid">
    <div class="content-wrap">
        @RenderBody()
    </div>
    <div class="empty-color"></div>
</body>
</html>
